<launch>
  <arg name="hw_id" default="0483:5740"/>
  <arg name="baud_rate" default="115200"/>
  <arg name="port" default=""/>
  <arg name="pos_scale" default="0.01"/>
  <arg name="ocr_answer_topic" default="/ocr/answer"/>
  <arg name="timeout_ms" default="3000"/>

  <node pkg="dogvision_arm" exec="arm_internation_node" name="arm_internation_node" output="screen">
    <param name="hw_id" value="$(var hw_id)" type="str"/>
    <param name="baud_rate" value="$(var baud_rate)" type="int"/>
    <param name="port" value="$(var port)" type="str"/>
    <param name="pos_scale" value="$(var pos_scale)" type="float"/>
    <param name="ocr_answer_topic" value="$(var ocr_answer_topic)" type="str"/>
  </node>

  <node pkg="dogvision_arm" exec="arm_mission_node" name="arm_mission_node" output="screen">
    <param name="timeout_ms" value="$(var timeout_ms)" type="int"/>
  </node>

  <node pkg="dogvision_arm" exec="arm_cmd_terminal_node" name="arm_cmd_terminal_node" output="screen"/>
</launch>
