<!-- 此处是一个测试文件，用于启动 Arm_internation_node 和 arm_cmd_terminal_node --> 
<launch>

  <!-- 启动 Arm_internation_node -->
  <node name="arm_internation_node" pkg="dogvision_arm" type="Arm_internation_node" output="screen"/>

  <!-- 启动 arm_cmd_terminal_node（需要独立终端接收键盘输入）-->
  <node name="arm_cmd_terminal_node" pkg="dogvision_arm" type="arm_cmd_terminal_node" output="screen" launch-prefix="gnome-terminal --"/>

  <!-- 加载机械臂位置参数到 arm_mission_node 命名空间 -->
  <rosparam command="load" file="$(find dogvision_arm)/pos_set.yaml" ns="arm_mission_node"/>

  <!-- 启动 arm_mission_node（高层指令编排）-->
  <node name="arm_mission_node" pkg="dogvision_arm" type="arm_mission_node" output="screen"/>

</launch>