<!-- 此处是一个测试文件，用于启动 Arm_internation_node 和 arm_cmd_terminal_node --> 
<launch>

  <!-- 启动 Arm_internation_node -->
  <!-- <node name="arm_internation_node" pkg="dogvision26" type="Arm_internation_node" output="screen" launch-prefix="gnome-terminal --"/>

  <!-- 启动 arm_cmd_terminal_node -->
  <node name="arm_cmd_terminal_node" pkg="dogvision26" type="arm_cmd_terminal_node" output="screen" launch-prefix="gnome-terminal --"/>    -->


</launch>